.container{
    padding: 0 12%;
    margin:32px auto;
}

.container p{
    color: #222;
}

.grass-image{
    width: 56%;
    margin: 24px 24px 0px 24px;
}

.container .chicken_img{
    margin: 16px auto;
}
