select{
    border: 1px solid #ADADAD;
    border-radius: 8px;
    outline-style: none;
    border-style: solid;
    height: calc(1.5em + 0.75rem + 2px);
}

.form-control{
    border: 1px solid #ADADAD;
    border-radius: 8px;
}

#form_of_rearing, #country, #country_select{
    padding: 0em 0.5em;
}

#laying-f{
    padding-right: 0.5em;
}
